/MicroCur_RECO.pdf
/FIRST TERM/2025-2 Parcial 1_ Revisión del intento _ Inicio.pdf 
/FIRST TERM/labs/teams-exam.docx
/SECOND TERM/theory/Quiz 30 sept_ Revisión del intento _ Inicio.pdf
/SECOND TERM/2025-2 Parcial 2_ Revisión del intento _ Inicio.pdf
/THIRD TERM/labs/lab08/Vale
/THIRD TERM/Examen 2025-2_ Revisión del intento _ Inicio.pdf
/THIRD TERM/Parcial Final.pka